grafana:
  service:
    type: NodePort
    nodePort: 30300

  adminPassword: "admin"

  # Автоматическое добавление datasources
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://kps-kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
          isDefault: true
        - name: Loki
          type: loki
          access: proxy
          url: http://loki.monitoring.svc.cluster.local:3100

  # Автоматические дашборды
  dashboards:
    default:
      security-dashboard:
        file: /var/lib/grafana/dashboards/security-dashboard.json
      falco-dashboard:
        file: /var/lib/grafana/dashboards/falco-dashboard.json
      n8n-dashboard:
        file: /var/lib/grafana/dashboards/n8n-pipeline-dashboard.json

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards

prometheus:
  service:
    type: NodePort
    nodePort: 30900

prometheus-pushgateway:
  enabled: true
  service:
    type: NodePort
    nodePort: 30123

loki:
  service:
    type: NodePort
    ports:
      http: 31000

promtail:
  enabled: true
