loki:
  auth_enabled: false

  commonConfig:
    path_prefix: /var/loki
    replication_factor: 1

  storage:
    type: filesystem
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules

singleBinary:
  replicas: 1
  persistence:
    enabled: false

service:
  type: NodePort
  nodePort: 31000
  port: 3100

rbac:
  create: true
