grafana:
  enabled: true
  service:
    type: NodePort
    nodePort: 30300
  defaultDashboardsEnabled: true
  adminPassword: "admin"

prometheus:
  service:
    type: NodePort
    nodePort: 30900

alertmanager:
  service:
    type: NodePort
    nodePort: 30123
